# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
model/__pycache__/
handlers/__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#model
model/my_model/
model/checkpoint-1512/
model/checkpoint-1008
model/checkpoint-504

bot.db
   